body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #0d3d4d;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.129em;
}
#map {
  top: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.marker {
  background-image: url("https://res.cloudinary.com/csisideaslab/image/upload/v1728324136/Comp_1__00000-00024__1.gif");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
#header {
  margin: auto;
  width: 50%;
  position: relative;
  z-index: 5;
  background-color: transparent;
  font-size: 1.4em;
  text-shadow: 2px 2px 25px #000000;
}
#header h1,
#header h2,
#header p {
  margin: 0;
  padding: 2vh 2vw;
  margin-top: 35vh;
  text-align: center;
}
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.hidden {
  visibility: hidden;
}
.centered {
  width: 50vw;
  margin: 0 auto;
}
.lefty {
  width: 33vw;
  margin-left: 5vw;
}
.righty {
  width: 33vw;
  margin-left: 62vw;
}
.fully {
  width: 100%;
  margin: auto;
}
.dark {
  color: #fafafa;
  background-color: #0d3d4d;
  border-radius: 25px;
}
.step {
  padding-bottom: 100vh;
  opacity: 0.25;
}
.step.active {
  opacity: 0.9;
}

.step div {
  padding: 25px 50px;
  line-height: 25px;
}

.step img {
  width: 100%;
}

@media (max-width: 750px) {
  .centered,
  .lefty,
  .righty,
  .fully {
    width: 90vw;
    margin: 0 auto;
  }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  touch-action: unset;
}
