/* ------------------ import Jost font ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

a,
a:hover,
a:visited {
  color: #a8dbff; /* for a11y with new background color */
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

/* div that holds chapters */
#features {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

/* ------------------------------------------------------ */
/*            Chapter chapter.alignment options           */
/* ------------------------------------------------------ */
.hidden {
  visibility: hidden;
}

.centered,
.lefty,
.righty,
.fully {
  width: 90vw;
  margin: 0 auto; /* Center the elements */
}

/* -------------------- config.theme -------------------- */
.dark {
  color: #fff;
  background-color: RGBA(25, 68, 88, 0.9); /*194458*/
  margin: 0 auto;
}

/* -------- `step` is a class on each chapter div ------- */
.step {
  padding-bottom: 50vh;
  opacity: 0.25;
}

.step.active {
  opacity: 0.9;
}

.step div {
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 1rem;
  line-height: 1.7;
}

.step div > p {
  margin: 0;
}

.step img {
  width: 100%;
}


/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan
  .mapboxgl-canvas {
  touch-action: unset;
}

/* ------------------------------------------------------ */
/*   media queries for textboxes - values from Shorthand  */
/* ------------------------------------------------------ */
/* Shorthand breakpoints: https://support.shorthand.com/en/articles/54-responsive-breakpoints */

/* Extra small devices (XS, less than 620px) */
/* No need for a media query here, as the default styles will apply */

/* Small devices (Small, 620px and up) */
@media (min-width: 620px) {
  .righty {
    width: 33vw;
    margin-left: 61vw;
  }
}

/* Medium devices (Medium, 900px and up) */
@media (min-width: 900px) {
  .centered {
    width: 50vw;
    margin: 0 auto;
  }

  .righty {
    margin-left: 58vw;
  }

  .step div {
    font-size: 1.25rem;
  }
}

/* Large devices (Large, 1100px and up) */
@media (min-width: 1100px) {
  .righty {
    margin-left: 61vw;
  }
}

/* Extra large devices (XL, 1400px and up) */
@media (min-width: 1400px) {
  /* Your CSS rules for XL devices */
}

/* Extra extra large devices (XXL, 1750px and up) */
@media (min-width: 1750px) {
  /* Your CSS rules for XXL devices */
}

/* ------------------------------------------------------ */
/*                    Begin Markers                       */
/* ------------------------------------------------------ */
/* ---------- fade in styles for gifs ---------- */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* Apply fadeIn animation */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.full-quarantine-gif {
  background-image: url("assets/full-quarantine.gif");
  background-size: cover;
  width: 475px;
  height: 475px;
}

.full-quarantine-ship-gif {
  background-image: url("assets/full-quarantine-ships.gif");
  background-size: cover;
  width: 516px;
  height: 516px;
}

/* ------------------------------------------------------ */
/*             media queries for markers/gifs             */
/* ------------------------------------------------------ */

/* Extra small devices (XS, less than 620px) */
/* No need for a media query here, as the default styles will apply */

/* Small devices (Small, 620px and up) */
@media (min-width: 620px) {
  /*show text in bubbles above mobile size - dark gray/black */

}

/* Medium devices (Medium, 900px and up) */
@media (min-width: 900px) {
  .full-quarantine-gif {
    width: 770px;
    height: 770px;
  }

  .full-quarantine-ship-gif {
    width: 790px;
    height: 790px;
  }
}

/* Large devices (Large, 1100px and up) */
@media (min-width: 1100px) {
  .full-quarantine-ship-gif {
    width: 850px;
    height: 850px;
  }
}

/* Extra large devices (XL, 1400px and up) */
@media (min-width: 1400px) {
  /* Your CSS rules for XL devices */
}

/* Extra extra large devices (XXL, 1750px and up) */
@media (min-width: 1750px) {
  /* Your CSS rules for XXL devices */
}

/* ------------------------------------------------------ */
/*                        SHIPS KEYS                       */
/* ------------------------------------------------------ */
.aircraft-carrier-circle {
  padding-right: 8px;
  color: #f75d55;
  font-size: 24px;
}
